/* Header.css */
.topbar {
  background-color: #2a2a38;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 9999;
}

.topbar h1 {
  font-size: 1.8rem;
  margin: 0;
  color: white;
}

.menu {
  display: flex;
}

.menu button, .menu a {
  margin-left: 1rem;
  background-color: #444a5a;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu button:hover, .menu a:hover {
  background-color: #00adb5;
  transform: scale(1.05);
}

.menu-button {
  text-decoration: none;
  background-color: #444a5a;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-button:hover {
  background-color: #00adb5;
  transform: scale(1.05);
}

.menu button.boton-activo {
  background-color: #00adb5;
  transform: scale(1.05);
}

.submenu-wrapper {
  position: relative;
}

.submenu {
  position: absolute;
  top: 90%;
  left: calc(34.768rem + 11.6rem);
  display: flex;
  z-index: 99999;
}

.menu .submenu button, .menu a {
  margin-left: 1rem !important;
}

.submenu button {
  background-color: #444a5a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submenu button:hover {
  background-color: #00adb5;
  transform: scale(1.05);
}
