.datosPago {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: #1f1f28;
}

.precioTotal {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  width: 100%; 
  max-width: 600px;
  padding-bottom: 10px;
}

.precioContainer {
  padding-right: 15px;
}

.precioEspecificaciones {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 18px;
  gap: 50px;
  color: #cfd8dc;
}

.metodoDePago, .factura {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: #e7f3ff;
  margin-bottom: 10px;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0%;
  width: 80%;
  height: 2px;
  background-color: rgba(90, 153, 215, 0.53); 
  border-radius: 2px;
}

.promo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promoSelect {
  background-color: #2a2a38;
  border: 2px solid #444a5a;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.iconContainer {
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 200px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camIcon {
  width: 25px;
  height: 25px;
}

.btn-salida {
  padding: 10px 100px;
  background-color: #2196f3;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.btn-salida:hover {
  background-color: #1976d2;
}

.btn-salida:active {
  background-color: #1565c0;
  transform: scale(1);
}

/* Opciones individuales */
.metodoOption, .facturaOption {
  padding: 7px 12px;
  border-radius: 8px;
  background-color: #444a5a;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}

.metodoOption:hover, .facturaOption:hover {
  background-color: #5a6073;
}

.metodoOption.selected, .facturaOption.selected {
  background-color: #2a2a38;
  color: white;
  border-color: rgba(109, 109, 109, 0.21);
}
