/* DATOS DE AUTO ENTRADA */ 
.datosAutoEntrada {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fotoAutoEntrada {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.formularioAuto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  text-align: left;
}

label {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.inputPatente {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #444a5a;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
}

.selectVehiculo {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #444a5a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para el botón de "Registrar Entrada" */
.btn-entrada {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-entrada:hover {
  background-color: #0056b3;
}

.btn-entrada:active {
  background-color: #004085;
  transform: scale(1);
}
