.contenidoCentral {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
}
.contenidoCentral > *:first-child {
  position: relative;
}
.contenidoCentral > *:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  bottom: 10%;
  width: 2px;
  background-color: rgba(173, 173, 202, 0.5); 
}


/* DATOS DE AUTO SALIDA*/ 
.datosAuto {
  display: flex;
  flex: 1.3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.patenteYTipo{
  display:flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.patente {
  font-size: 40px;
  font-weight: bold;
}

.fotoAuto{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
.fotoAuto img {
  width: 90%;
}

.horarios {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-weight: 500;
  padding-bottom : 20px;
}
.container {
  display: flex;
  background-color: #1F4258;
  align-items: center;
  color: black;
  padding: 2px 3px;
  font-size: 17px;
}

/* DATOS DE AUTO ENTRADA */ 
.formularioAuto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  text-align: left;
}
label {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.inputPatente {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #1F4258;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
}
.selectVehiculo {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #1F4258;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


/* DATOS DE PAGO */ 
.datosPago {
  display: flex;
  flex: 1;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 100%
}

.precioTotal {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.precioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.precioEspecificaciones {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  padding: 15px;
}
.metodoDePago, .factura {
  background-color: #1F4258;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 0px 2px 0px 2px;
}


.title {
  font-size: 15px;
  font-weight: bold;
  color:rgb(231, 243, 255); 
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0%;
  width: 80%;
  height: 2px;
  background-color:rgba(90, 153, 215, 0.53); 
  border-radius: 2px;
}

.promo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.promoSelect {
  background-color: rgb(21, 49, 69);
  border: 2px solid rgb(50, 88, 111);
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.iconContainer {
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 200px;
  padding: 3px;
  display: flex; /* Establece un contenedor flexible */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
}
.camIcon {
  width: 25px;
  height: 25px
}

.fondoSalida {
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; 
  justify-content: center;

}
.salida {
  background-color: #5A99D7;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.salida:hover {
  background-color: #4A82B5;
}
.salida:focus {
  outline: none; /* Elimina el contorno al hacer click */
}
.salida:active {
  background-color: #3a72a2; /* Color más oscuro al hacer clic */
}

/* HOVERS SELECCIÓN */
.metodoOption, .facturaOption {
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
  margin: 5px 2.5px 5px 2.5px;
}
.metodoOption:hover, .facturaOption:hover {
  background-color: #e0e0e0; /* Gris más oscuro en hover */
}
/* SELECCIONADO */
.metodoOption.selected, .facturaOption.selected {
  background-color: #10222E;
  color: white;
  border-color: #6d6d6d;
}

