.contenidoCentral {
  display: flex;
  height: calc(100vh - 60px); 
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  align-items: center;
}
.contenidoCentral > *:first-child {
  position: relative;
}
.contenidoCentral > *:first-child::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #2a2a38; /* o probá con #39414f */
  height: 98%;
}
.contenidoCentral img {
  width: 100%;
}

.izquierda {
  flex: 1;
  padding: 6px 10px 10px 10px;
}
.derecha {
  flex: 1.5;
  padding: 6px 10px 10px 10px;
}