.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(12, 26, 34);
  width: 100px;
  padding: 10px;
}

.upper-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.lower-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.tab-button {
  background-color: rgb(39, 106, 145);
  color: white;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.tab-button:hover {
  background-color: rgb(27, 75, 102);
}