.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #D8DBE2;
  /* background-image: url('https://www.misabogados.com/hubfs/egor-myznik-rCZQCbUAQvg-unsplash%20(1)-2.webp'); */
  background-size: cover;
  background-position: center;
  z-index: -100;
  }